@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Yusei+Magic&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y:auto;
    font-family: "Oswald", "Yusei Magic", sans-serif;
    box-sizing: border-box;
    color: #fafafa;
    background-color: #23232b;
}
/*--------Header--------*/
header {
    font-family: "Yusei Magic";
    color: #fff8ee;
    text-shadow: 1px 1px #646e12;
}

.headerTriviaHost {
    background: url("../images/quizHost/alien_confused1.png");
    margin: 15px 10px 15px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100px;
}

.headerTriviaHost:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.nav-bar {
    width: 100%;
    display: flex;
    align-items: center;
}

.nav-bar h1 {
    margin: 0;
}

.footerGitLink {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    color: #fff8ee;
    margin: 0px 10px 0px 10px;
}

.footerGitLink:hover {
    color: #ddcbb7;
}

/*--------SECTION--------*/

/*--------Part1--------*/

/* Quiz Background */

.quizBackground{
    background-image: url("../images/planetHub/shuttleInterior.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 400px; /* <- Will need to change based on screen size */
}

/* Quiz Host */

.quizHost{
    background-image: url("../images/quizHost/alien_question1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    height: 200px;
    width: 200px;
    margin: auto;
    margin-bottom: 4rem;
}
/* Quiz Speech/Bubble-Wrap */

.bubble-wrap {
    width: 300px;
    margin: auto;
    margin-left: 200px;
    margin-right: -200px;
    color: #23232b;
}

.bubble {
    position: relative;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 4px;
    border: #7F7F7F solid 1px;
    font-size: 1em;
    line-height: 1.25em;
}

.bubble.left:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 50%;
    margin-top: -16px;
}

.bubble.left:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 16px 16px 16px 0;
    border-color: transparent #7F7F7F;
    display: block;
    width: 0;
    z-index: 0;
    left: -16px;
    top: 50%;
    margin-top: -16px;
}
/*--------Part2--------*/

/* Quiz Content */

.quizContent {
    display: block;
    text-align: center;
}

/*--------CATEGORY MENU--------*/

/* Button */

#startQuiz {
    display: none;
}


.quizButtons {
    margin: 10px 0 0 0;
    padding: 10px 20px;
    font-size: 24px;
    text-align: center;
    outline: none;
    color: #23232b;
    background-color: #fff8ee;
    border: none;
    border-radius: 15px;
    box-shadow: 0 6px #8c6f5f;
}

.quizButtons:hover {
    background-color: #ddcbb7;
}

.quizButtons:active {
    background-color: #ddcbb7;
    box-shadow: 0 2px #8c6f5f;
    transform: translateY(4px);
}

/* User Answer Submission */

.userAnswerSubmission {
    display: none; /*inline-block*/
    color: #23232b;
    background-color: #fff8ee;
    border-radius: 15px;
    margin: 10px 0 0 0;
    padding: 10px 20px 20px 10px;
}

#submitButton,
#replayButton {
    background-color: #95a31a;
    box-shadow: 0 6px #646e12;
    color: #fafafa;
    font-size: 15px;
}

#submitButton:hover,
#replayButton:hover {
    background-color: #829613;
}

#submitButton:active,
#replayButton:active {
    background-color: #829613;
    box-shadow: 0 2px #646e12;
}

/* Hidden Elements */

#question { 
    display: none;
}

#answer { 
    display: none; /*display: none; /* hidden is for visibility, we want display none: To hide the current answer*/
}

/*--------POPUP MODAL--------*/

.popUp {
    display: none;
    color: #23232b;
    background-color: #fff8ee;
    border-radius: 15px;
    margin: 10px 0 0 0;
    padding: 10px 20px 20px 10px;
}

.socials {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #23232b;
    text-align: inherit;
    background-color: transparent;
    border: 0;
}

.socials:hover {
    color: #829613;
    text-decoration: none;
}

/*--------Footer--------*/